<!DOCTYPE html>
<h1 class="text-center">Bem-vindo à Plataforma de Gestão de Transporte Escolar</h1>
<h4 class="text-center">Complexo Escolar Privado Beira Alta II</h4>
<div class="text-center mt-4">
    <a href="/nav/login" class="btn btn-primary">Faça o login para usar</a>
</div>
